.navbar.navbar-collapse.collapse
    .dropdown.navbar-form.navbar-right
        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            span.glyphicon.glyphicon-user
            span.username {{ user?.fullname }}
            span.caret
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            li
                a(href="#") Account
            li
                a(href="#") Settings
            li
                a(href="#", (click)="logoutUser()") Logout
