ul.nav.navbar-nav
    li.active
        a(href="#") Dashboard
    li
        a(href="#") Journal
    li
        a(href="#") Appointments
    li
        a(href="#") Physicians
    li
        a(href="#") Prescriptions
        