hj-navbar
.jumbotron
  .container
    h1 Welcome to Health Journal Angular 2 
    p.title Trying logging in with the username - password
    ul
      li firstpres  - 1776
      li dmartin - dude
      li neckman - neckman
      li jvaughan3 - 6kids

    br
    p The take a look at the top right.  You should see the fullname of the user in a dropdown.  Drop it down and selelct Logout.
